aside {
    #logo {
        width: 100%;
        height: 12.5%;

        img {
            width: 100%;
        }
    }

    nav {
        width: 100%;
        height: 80%;
        padding: .5% 1%;
        overflow-y: scroll !important;
        color: #FFFFFF;

        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: var(--secondary-color);
            }
        }

        a {
            text-decoration: none;
        }

        .navItem {
            text-decoration: none;
            border-radius: 1vh;
            width: 100%;
            padding: 2% 2.5%;
            margin: 1% .5%;
            /*border: 1px solid var(--secondary-color);*/

            p {
                color: #FFFFFF;
                font-family: Helvetica;
                font-weight: bold;
                font-size: 1.5rem;
            }

            &:hover {
                background-color: var(--secondary-color50);
            }
        }
    }

    #bottom {
        height: 7.5%;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-primary {
            width: 90%;

            img {
                width: 11%;
            }
        }
    }
}