

#bigContainer {
    padding: 10px;
}

.dienstBox {
    width: auto;
    height: 50vh;
    background-color: rgb(198, 198, 198);
    margin-top: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.imageContainer {
    width: 45%;
    height: 90%;
    background-color: #FF0000;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 20px; 
}

.textBox {
    padding: 10px;
    width: 15vw;
    margin-right: 10vw; 
    flex-shrink: 0;
    margin-left:5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#cdcdcd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.dienstButton {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.iconBox {
    width: 15%;
    height: 45%;
    background-size: contain;
    background-position: center;
    margin-left: 20px; 
    background-repeat: no-repeat;
}

#bigContainer2 {
    display: flex;
    justify-content: center;
}

#contactContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: var(--secondary-color);
    width: 30vw;
    height: 70vh;
    padding: 10px;
}

#hendrikImage {
    width: 15vw;
    height: 15vw;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-size: contain;
    background-repeat: no-repeat;
}

#contactContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-top: 10%;
    background-color: var(--quaternary-color);
    width: 20vw;
    height: 80vh;
    padding: 10px;
    margin-left: 5vw;
}

#hendrik {
    display: flex;
    flex-direction: row;
}

#hendrikSpeech {
    margin-top: 2vh;
    margin-left: 2vw;
    width: 10vw;
    font-size: 0.75vw;
    font-weight: bold;
}

.divider {
    width: 90%; 
    margin: 4% auto 0 auto; 
    border: none;
    border-top: 2px solid black;
    background-color: black;
    height: 2px;
}

.contactButton {
    background-color: #349773;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:10vw;
    height:10vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#contactButtonBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mapsImage {
    width: 90%;
    height: 20vh; 
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #91d6b2;
    margin: 20% auto 0;
    padding: 0 !important;
    margin-bottom: 10px; 
}



#extraContainer2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contact-info {
    margin-top: 10px; 
}

#imageDiv {
    display:inline-block;
}

#logoBox {
    width:10vw;
    height:15vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

main {
    margin-top: 3%;
}

@media (max-width:1240px) {
    .textBox {
        width: 20vw;
        margin-right:3vw;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    .dienstButton {
        width: 9vw;
        padding: 5px;
        font-size: 15px;
        height: 8vh;
    }
    
    .buttonBox {
        display: flex;
        align-items: center;
    }

    .imageContainer {
        width: 50%;
        height: 80%;
    }

    .iconBox {
        margin-left: 20px;

    }

    small {
        font-size: 10px;
    }

    #contactContainer {
        height: 80vh;
        margin-bottom: 1vh;
    }

    h1 {
        font-size: 25px;
    }

    strong {
        font-size: 15px;
    }

    .contactP {
        font-size: 12px;
    }

    br {
        height: 0;
    }

    .contactButton {
        font-size: 14px;
        padding: 0;
    }

    #hendrikSpeech {
        font-size: 1vw;
    }

    #hendrikImage {
        height: 30vw;
        background-size: cover;
        background-position: 50%;
    }

    #logoBox {
        width: 18vw;
        height: 20vh;
    }
}

@media (max-width:768px) {
    .textBox {
        width: 30vw;
        margin-right:2vw;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    .dienstButton {
        width: 9vw;
        padding: 5px;
        font-size: 15px;
        height: 8vh;
    }
    
    .buttonBox {
        display: flex;
        align-items: center;
    }

    .imageContainer {
        width: 50%;
        height: 80%;
    }

    .iconBox {
        margin-left: 10px;

    }

    small {
        font-size: 10px;
    }

    #contactContainer {
        width: 100%;
        height: 50vh;
    }

    h1 {
        font-size: 25px;
    }

    strong {
        font-size: 15px;
    }

    .contactP {
        font-size: 12px;
    }

    br {
        height: 0;
    }

    .contactButton {
        margin-top: 20px;
        font-size: 18px;
        padding: 20px;
        width: 20vw;
        height: 15vh;
    }

    #hendrikSpeech {
        font-size: 2vw;
        width: 40vw;
    }

    #hendrikImage {
        width: 30vw;
        height: 30vw;
        background-size: contain;
    }

    #logoBox {
        width: 80%;
        height: 50vh;
        background-size: contain;
    }

    #bigContainer2 {
        flex-direction: column;
    }

    #phone-style {
        display: flex;
    }

    #contactButtonBox {
        margin-left: 10vw;
    }

    #contactContainer2 {
        width: 100%;
        height: 100vh;
        margin: 0;
    }

   #mapsImage {
    width: 60%;
    margin: 5% auto 0;
   }

   .contact-info {
    margin-left: 20px;
   }
}