:root {
    --primary-color: #f5f5f5;
    --secondary-color: #5DBB63;
    --tertiary-color: #234F1E;
    --quaternary-color: #b2d3c2;
    --quinary-color: #0000;
    --senary-color: #4A4A4A;
    --septenary-color: #fccc6a;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background: #333;
    padding: 1rem 0;
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: grey;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--secondary-color);
}

/* Mobile Menu Toggle */
.menu-toggle {
    display: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: wheat;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .nav-links li {
        margin: 1.5rem 0;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .menu-toggle {
        display: block;
    }
}
