body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7e6;
    color: #2b2b2b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #339933; /* Medium green */
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin-top: 20px;
    font-size: 60px;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    color: #004d00; /* Dark green */
}

.slider-frame {
    overflow: hidden;
    height: 800px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

@-webkit-keyframes slide_animation {
    0%, 10%, 90%, 100% { left: 0px; }
    20%, 30% { left: -1200px; }
    40%, 50% { left: -2400px; }
    60%, 70% { left: -1200px; }
    80% { left: 0px; }
}

.slide-images {
    width: 3600px;
    height: 800px;
    margin: 0;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

nav {
    background-color: #66cc66; /* Lighter green */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    flex: 1;
    background-color: #ccffcc; /* Very light green */
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #004d00; /* Darker green color for headings */
}

footer {
    background-color: #004d00; /* Dark green background */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}
